.content-container {
	width: 30vw;
	flex-grow: 0;
}
.home h2 {
	padding-left:2rem;
}
.home {
	padding-top: 5rem;
	text-align:left;
	display:flex;
	flex-direction: row;
}
.filler {
	background-color: black;
	min-width: 10rem;
	min-height: 100%;
	align-self: flex-end;
}
.post-date {
	color: darkslategray;
}
.post-title {
	display: inline;
}
.author {
	color: darkslategray
}
.post {
	margin-bottom: 1rem;
}